.scrambled,  .guessing {
    width: 800px;
    min-height: 200px;
    background-color: #999;
    margin: 40px auto;
}
.letter {

    text-align: center;
    border-right: black solid 1px;
    font-size: 180px;
    display: inline;
   letter-spacing: 110px;
    background-color: #bbb;
}
#guessButton, #console {
    display: inline;
    width: fit-content;
    font-size: 100px;
    background-color: royalblue;
    margin: 0 auto;
    padding: 20px;
}
#console {
    background-color: yellow;
    margin-right: 50px;
}
#guessButton:hover {
    box-shadow: 15px 15px 5px 5px rgba(130, 130, 130, 0.8), -5px -5px 25px 0px rgba(130, 130, 130, 0.8);
}
.score {
    font-size: 20px;
    text-align: center;
}